[submodule "themes/papercss-hugo-theme"]
	path = themes/papercss-hugo-theme
	url = https://github.com/zwbetz-gh/papercss-hugo-theme.git
[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = git@github.com:tholzschuh/hugo-theme-monochrome.git
